body {
    height: 100%;
}

body {
    text-align: center;
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'B612', sans-serif;
    color: white;
    background-image: url("../images/portals.png");
    background-repeat: repeat;
    /*background-size: cover;*/
    
}
#start{
    
    margin-top: 15%;
    background-size: 50%;
    

}
button {
    display: block;
    width: 400px;
    height: 100px;
    margin: 10px auto 0;
    font-size: 42px;
    color:black;
    border: 0;
}
#wrapper {
    width: 960px;
    min-height: 80%;
    box-sizing: border-box;
    padding: 5% 0;
    margin: 5% auto;
   /* background-image: url(../images/rick.png);background-position: center; */
    background-repeat: no-repeat;
    background-color: black;
   
}

#sub-wrapper {
    position: relative;
    top: 20%;
    
}
#imput{
    font-size: 50px;
}

h2 {
    margin-bottom: 25px;
    font-size: 30px;
}
h1 {
    margin-bottom: 50px;
    font-size: 7.5;
    font-weight: bold;
    color: white;
}



